@charset "utf-8";

/*** 상품 리스트형 | goods/list/list_02.html ***/
.goods_prd_item {
	overflow: hidden;
	padding: 2px; 
	vertical-align: middle;
	display: flex;
}
.goods_prd_item .goods_prd_img {
	display: table-cell;
	width: 120px;
	flex: none;
	vertical-align: middle;
}
.goods_prd_item .goods_prd_content {
	margin-left: 14px;
	vertical-align: middle;
	overflow: hidden;
}
